
nav{

  display: grid;
  grid-template-columns: 1fr 1fr ;
  min-height: 10vh;
  align-items: center;
}

.menu{
  grid-column: 2/2;
  display: flex;
  margin-left: auto;
  margin-right: 10%;
  width: auto;
  align-items: center;

}

#logo{

  grid-column: 0/2;
  text-align: center;
  font-size: 35px;
  font-family: Helvetica;
  margin-right: auto;
  margin-left: 10%;
}

.menu li{

  margin-left: 50px;
  padding: 15px;
  text-align: center;
  list-style: none;
}

.menu li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: 0.3s;
}
.menu li a:hover{
  letter-spacing: 1px;
  color: #BDD3DE;
}
